{% extends 'base.html' %}

{% block additional_styles %}
    <style>
        .background {
            background-color: whitesmoke;
            height: 100vh;
        }
    </style>
{% endblock additional_styles %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_heading %}Password Reset{% endblock %}

{% block content %}
    <form method="post" class="accountform">
        <p>Please enter your email address to reset your password</p>
        <br>
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        {{ form.email.errors }}
        <p>
            <label for="id_email" class="control-label required-field">Email address:</label>
            {{ form.email }}
            <input type="submit" value="Reset password" />
        </p>
    </form>
{% endblock %}
