
/*--------------------  General*/

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 75px;
  box-sizing: border-box;
}

/*-------------------- Navbar and Headings*/

/*-------------------- Search Forms*/

form.search {
    float: center;
    padding-bottom: 20px;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  float: right;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/*-------------------- Product and Auction Cards*/

/*--------------------  Map*/

#map {
    height: 400px;
    width: 100%;
}

/*--------------------  User Forms*/

/*--------------------  Footer*/

footer {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: blueviolet;
  color: whitesmoke;
  padding-top: 20px;
}

/*-------------------- Media Queries*/
