@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

/*--------------------  General*/

body {
  font-family: 'Roboto', 'sans serif';
  min-height: 100vh;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

/*-------------------- Navbar and Headings*/

.navbar {
    margin-bottom: 0px;
    background: rgb(12, 12, 12);
    color: white;
}

.navbar-logo {
    font-family: 'Raleway', 'sans serif';
}

/*-------------------- Homepage*/


.homeheader{
    padding-top: 30px;
    color:black;
    font-size: 300px;
}

.home-image {
    height: 60vh;
}

.home-links {
    height: 40vh;
}


.background {
    height: 100vh;
    width: 100%;
    background: url('/static/img/gallery.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    position: relative;
}

/*-------------------- About page*/

/*-------------------- Search Forms*/

form.search {
    float: center;
    padding-bottom: 20px;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background:whitesmoke;
}

form.search button {
  float: right;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/*-------------------- Product and Auction Cards*/


.product-image, .lot-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.panel-default {
    border-color: transparent;
    padding: 0 20px;
}


/*--------------------  Map*/

#map {
    height: 400px;
    width: 100%;
}

/*--------------------  User Forms*/


/*--------------------  Footer*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #AE96D6;
  color: whitesmoke;
  padding-top: 20px;
}

.footer-header {
    text-align: right;
}

i.fa{
    color: whitesmoke;
}

/*-------------------- Media Queries*/

@media(min-width: 992px) {

    .login-form, .registration-form {
        padding-top: 30px;
        margin: 0 auto;
        max-width: 50%;
    }
}