{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6">
        <h4>Current auctions you are bidding on:</h4>
        {% for auction in current_auctions %}
        <div class="col panel panel-default">
            <div class="panel-body">
            
                <div class="lot-image" style="background-image: url('{{ MEDIA_URL }}{{ auction.lot.image }}')"></div>
                <h3>{{ auction.lot.name }}</h3>
                <p>Current bid: {{ auction.winning_bid }}</p>
                <p>Current bidder: {{ auction.winning_bidder }} </p>
                <p><a href="{% url 'auction' auction.id %}"  class="btn btn-default">Increase your bid</a></p>
                
            </div>
        </div>
        {% endfor %}

        <h4>Past auctions you have won:</h4>
        {% for auction in past_unpaid_auctions %}
        <div class="col panel panel-default">
            <div class="panel-body">
            
                <div class="lot-image" style="background-image: url('{{ MEDIA_URL }}{{ auction.lot.image }}')"></div>
                <h3>{{ auction.lot.name }}</h3>
                <p>Winning bid: {{ auction.winning_bid }}</p>
                <p>Winning bidder: {{ auction.winning_bidder }} </p>
                <p><a href="{% url 'checkout_auction' auction.id %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a></p>

            </div>
        </div>
        {% endfor %}

        {% for auction in past_paid_auctions %}
        <div class="col panel panel-default">
            <div class="panel-body">
            
                <div class="lot-image" style="background-image: url('{{ MEDIA_URL }}{{ auction.lot.image }}')"></div>
                <h3>{{ auction.lot.name }}</h3>
                <p>Winning bid: {{ auction.winning_bid }}</p>
                <p>Winning bidder: {{ auction.winning_bidder }} </p>

            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6">
        <h4>Delivery Information:</h4>
        <form class="" action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            {{ user_form | as_bootstrap }}
            {{ profile_form | as_bootstrap }}
            <button type="submit" class="btn">Update</button>
        </form>
    </div>

</div>

{% endblock %}