{% extends 'base.html' %}

{% block page_title %}All Current Lots Page{% endblock %}

{% block page_heading %}All Current Lots{% endblock %}

{% block content %}

<div class="row">
    {% for lot in lots %}
        <div class="col panel panel-default">
            <div class="panel-body">
            
                <div class="lot-image" style="background-image: url('{{ MEDIA_URL }}{{ lot.image }}')"></div>
                <h3>{{ lot.name }}</h3>
                <p class="lot-description">{{ lot.description }}</p>
                <p><a href="{% url 'lot_detail' lot.id %}"  class="btn btn-default">Lot detail</a></p>

            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}