{% extends 'base.html' %}

{% block page_title %}All Past Lots Page{% endblock %}

{% block page_heading %}Past Auction Results{% endblock %}

{% block content %}

<div class="row">
    {% for auction in sold_auctions %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 col-xl-3 panel panel-default">
            <div class="panel-body">
            
                <div class="lot-image" style="background-image: url('{{ MEDIA_URL }}{{ auction.lot.image }}')"></div>
                <h3>{{ auction.lot.name }}</h3>
                <p class="lot-description">{{ auction.lot.description }}</p>
                <p>Winning bid: {{ auction.winning_bid }}</p>
                <p>Winning bidder: {{ auction.winning_bidder }} </p>
                <p>Number of bids: {{ auction.number_of_bids}}</p>
                
            </div>
        </div>
    {% endfor %}

    {% for auction in unsold_auctions %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 col-xl-3 panel panel-default">
            <div class="panel-body">
            
                <div class="lot-image" style="background-image: url('{{ MEDIA_URL }}{{ auction.lot.image }}')"></div>
                <h3>{{ auction.lot.name }}</h3>
                <p class="lot-description">{{ auction.lot.description }}</p>
                <p>Winning bid: {{ auction.winning_bid }}</p>
                <p>Winning bidder: Not sold </p>
                <p>Number of bids: {{ auction.number_of_bids}}</p>
                
            </div>
        </div>
    {% endfor %}
</div>
<br>

{% endblock %}